.autosuggest {
  .dropdown-menu {
    ul {
      padding: 5px;
      margin: 0;
      list-style-type: none;
    }

    li.active {
      background-color: #ddd;
    }
    .suggestionName {
      padding: 5px;
    }
  }
}