@import 'bootstrap';
@import 'autosuggest';
@import 'transition';


.container {
  margin-bottom: 50px;
}

.display-none {
  display: none;
}

#clearData {
  position: relative;
  top: 20px;
}

/* Bootstrap override */
.alert {
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 5px;
}