@import 'bootstrap';
@import 'autosuggest';
@import 'transition';

#players {
  position: relative;
  #clearData {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}

.container {
  margin-bottom: 50px;
}

.display-none {
  display: none;
}

.versus {
  text-align: center;
  font-size: 1.2em;
}

/* Bootstrap override */
.alert {
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 5px;
}