@import 'bootstrap';
@import 'autosuggest';
@import 'transition';

// When a form is to close to the bottom it feels awkward.
.container {
  margin-bottom: 50px;
}

.display-none {
  display: none;
}

#clearData {
  position: relative;
  top: 20px;
}

// Don't add padding to our nested columns
.col-md-9 .col-md-12, #players, .table-top-header {
  padding-left: 0;
  padding-right: 0;
}

// Bootstrap override
.alert {
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 5px;
}